extends layout

block content
  div.wrap
    h1= title
    a(href="./{{c.name}}", ng-repeat="c in collecion" )
      md-card(md-whiteframe="7")
        md-card-title
          md-card-title-media
            div(class="md-media-xl", style="background-image: url(images/{{c.name}}/{{c.image}})")
          md-card-title-text
            span(class="md-headline") {{c.name}}
            span(class="md-subhead") {{c.titulo.esp}}

