extends layout

block content
    div.wrap
        h1= title
        md-card.box.action(md-whiteframe="7", style="background-image: url("+rootPath+"images/" + coleccion + '/actions/' + tipo + '/' + id + ".gif)")