extends layout

block content
    h1= title
    div.wrap
        md-card.box.action(md-whiteframe="7", style="background-image: url("+rootPath+"images/" + coleccion + '/actions/' + tipo + '/' + id + ".gif)")